
<div id="layoutSidenav_nav">
    @*   @{ var userInfomatiom = (QuanLyChamCong.Models.User)Session["USER"]; }*@
    <nav style="background-color: #F1F1F1 !important" class="sb-sidenav accordion " id="sidenavAccordion">
        <div class="sb-sidenav-menu">
            <div class="nav">
                <a class="nav-link" href="/AdminCourseType/Index">
                    <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
                    Danh mục khóa học
                </a>
                <hr />
                <a class="nav-link" href="/AdminCourse/Index">
                    <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
                    Khóa học
                </a>
                <hr />
                <a class="nav-link" href="/AdminVideo/Index">
                    <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
                    Video khóa học
                </a>
                <hr />
                <a class="nav-link" href="/AdminCustomer/Index">
                    <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
                     Khách hàng
                </a>
                <hr />
                <a class="nav-link" href="/AdminNew/Index">
                    <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
                    Tin tức
                </a>

            </div>
        </div>
    </nav>
</div>