<footer class="footer-wrap-layout2">
    <div class="container">
        <div class="footer-box-layout2">
            <div class="footer-logo">
                <a href="index.html"><img src="~/Content/img/logo-light.png" alt="logo"></a>
            </div>
            <ul class="footer-social">
                <li><a href="#"><i class="fab fa-facebook-f"></i>259k LIKES</a></li>
                <li><a href="#"><i class="fab fa-twitter"></i>480k FOLLOWERS</a></li>
                <li><a href="#"><i class="fab fa-instagram"></i>280k FOLLOWERS</a></li>
                <li><a href="#"><i class="fab fa-youtube"></i>180k SUBSCRIBER</a></li>
            </ul>
            <div class="copyright">© 2019 blogxer. All Rights Reserved.</div>
        </div>
    </div>
</footer>
