
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="blog-wrap-layout9">
    <div class="container">
        <div class="section-heading-3">
            <h2>Danh sách tin tức trong hệ thống  </h2>

        </div>
        @if (ViewBag.courses.Count == 0)
        {
            <p>Danh sách trống </p>
        }
        else
        {
            <div class="row gutters-40 menu-list" id="no-equal-gallery">
                @foreach (var item in ViewBag.courses)
                {
                    <div class="col-lg-4 col-md-6 col-sm-6 col-12 no-equal-item">
                        <div class="blog-box-layout5">
                            <div class="item-img">
                                <a href="/News/Detail/@item.NewsId"><img src="~/Content/images/@item.Image" alt="Blog"></a>
                                <a href="/News/Detail/@item.NewsId" class="hover-icon">
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                </a>
                            </div>
                            <div class="item-content">
                               
                                <h3 class="item-title">
                                    <a href="/News/Detail/@item.NewsId">
                                        @item.Title
                                    </a>
                                </h3>
                            </div>
                        </div>
                    </div>
                }

            </div>
            <div class="pagination-layout1">
                <ul>
                    @if (ViewBag.tag > 1)
                    {
                        int b = ViewBag.tag - 1;
                        <li class=""><a href="/News/Index/@b">&lArr;</a></li>
                    }
                    else
                    {
                        <li></li>
                    }

                    @for (var i = 1; i <= ViewBag.pageSize; i++)
                    {
                        if (ViewBag.tag == i)
                        {
                            <li class="active"><a href="/News/Index/@i">@i</a></li>
                        }
                        else
                        {
                            <li class=""><a href="/News/Index/@i">@i</a></li>
                        }

                    }
                    @if (ViewBag.tag < ViewBag.pageSize)
                    {
                        int a = ViewBag.tag + 1;
                        <li class=""><a class="" href="/News/Index/@a">&rArr;</a></li>
                    }
                    else
                    {
                        <li></li>
                    }
                </ul>
            </div>
        }

    </div>
</section>





